:root {
  --grey: #ededed;
  --black: #2c2c2c;
  --text: #757575;
  --box-border: #d9d9d9;
  --dark-text: #1e1e1e;
  --light-green: #e5f0e0;
  --dark-green: #b7d0ab;
  --btn-hover: #e2e2e2;
}

* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0 auto;
  overflow: auto;
}

.hello {
  display: flex;
  justify-content: center;
}

#note-outline {
  position: absolute;
  top: -100px;
  height: 1000px;
  z-index: -2;
}

.center {
  width: 500px;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
}

form {
  width: 100%;
}

#cat-icon {
  width: 100px;
  margin-bottom: -20px;
}

h1 {
  margin-bottom: 0;
}

p {
  color: var(--text);
  margin-top: 10px;
  margin-bottom: 2rem;
}

.input-box {
  background-color: var(--grey);
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  width: 50%;
  padding: 15px;
  margin: 0 10px;
}

.add-btn {
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  width: 4rem;
}

.add-btn:hover {
  cursor: pointer;
}

.list {
  margin-top: 3rem;
  list-style: none;
  height: 300px;
  padding: 0 20px;
  overflow-y: auto;
  width: 90%;
  color: var(--text);
  font-size: 0.9rem;
}

.list::-webkit-scrollbar {
  width: 12px;
}

.list::-webkit-scrollbar-thumb {
  min-height: 50px;
  background-color: var(--grey);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: none;
}

.list-item {
  height: 2.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.list-item span {
  border: 1px solid var(--box-border);
  height: 100%;
  width: 90%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  font-size: 0.9rem;
  color: var(--dark-text);
}

.btn {
  border: 1px solid var(--box-border);
  background-color: white;
  border-radius: 4px;
  height: 90%;
  min-width: 2.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
  color: var(--black);
}

.clear-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 6rem;
}

.clear-btn:hover {
  cursor: pointer;
  color: var(--text);
}

.completed {
  background-color: var(--black);
  color: var(--grey);
  border: none;
}

.span-completed {
  background-color: var(--light-green);
  text-decoration: line-through;
}

#edit-btn {
  border: none;
}

#edit-btn:hover {
  background-color: transparent;
  color: var(--text);
}

.edit-input-box {
  border: 2px solid var(--black);
  background-color: var(--grey);
  border-radius: 8px;
  height: 2.5rem;
  width: 65%;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}
